body {
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  position: relative;
}

.logo-header {
  display: block;
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
}
.header__logo-image {
  width: 129.11px;
  height: 104.65px;
  top: 1.16px;
  left: 9.03px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style-type: circle;
  font-size: 18px;
}

.header__links-list-item-one {
  list-style: none;
  width: 67px;
  height: 21px;
  top: 133px;
  left: 50px;
  margin-left: 50px;
}
.header__links-list-item-two {
  text-decoration: underline;
  width: 149px;
  height: 21px;
  top: 133px;
  left: 148.48px;
  gap: 0px;
  opacity: 0px;
}
.header__links-list-item-three {
  text-decoration: underline;
  width: 108px;
  height: 21px;
  top: 133px;
  left: 331.48px;
  gap: 0px;
  opacity: 0px;
}
.address {
  max-width: 240;
  justify-self: end;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  display: inline;
  margin-right: 50px;
  margin-left: 184px;
  width: 240px;
  height: 98px;
  top: 95px;
  left: 810px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.header__link_active_telephone {
}
